<div class="alert alert-info" *ngIf="totalItems.length === 0">No Items Added to Checkout List.</div>
<ul class="list-group">
    <li class="list-group-item" *ngFor="let i of totalItems">
        <app-item [totalItems]="i"></app-item>
    </li>
    <li class="list-group-item active">
        <strong>Total </strong>{{totalPrice | currency:'ZAR'}}
    </li>
</ul>
