<div class="card mb-4 shadow-sm">
    <img class="bd-placeholder-img card-img-top" width="100%" [src]="item.photo"/>
    <div class="card-body">
        <p class="card-text">{{item.name}}.</p>
        <div class="d-flex justify-content-between align-items-center">
            <div class="d-grid gap-2 d-md-block">
                <button type="button" class="btn btn-sm btn-outline-primary me-md-2" (click)="handleItemToList()">Add to cart</button>
            </div>
        </div>
        <small class="text-muted">{{item.price | currency:'ZAR'}}</small>
    </div>
</div>